<button id="btn">Rules</button>
<div id="model" class="model">
    <div class="content">
        <div class="header">
            <h2>Rules to play</h2>
        </div>
        <div class="body">
            <p>1.Guess the <span>WORDLE</span> in six tries</p>
            <p>2.Each guess must be a valid five-letter word.Hit enter button to submit</p>
            <p>3.After each guess,the color of the tiles will change to show how close your guess was to the word</p>
            <p>4.A correct letter turns green</p>
            <p>5.A correct letter in the wrong place turns yellow</p>
            <p>6.An incorrect letter turns gray</p>
            <p>7.Letter can be used more than once</p>
        </div>
        <div class="footer">
          <button id="closebtn" >OK</button>
        </div>
    </div>
</div>


<div id="model" class="model">
    <div class="content">
        <div class="header">
            <h2>Rules to play</h2>
        </div>
        <div class="body">
            <p>1.Guess the <span>WORDLE</span> in six tries</p>
            <p>2.Each guess must be a valid five-letter word.Hit enter button to submit</p>
            <p>3.After each guess,the color of the tiles will change to show how close your guess was to the word</p>
            <p>4.A correct letter turns green</p>
            <p>5.A correct letter in the wrong place turns yellow</p>
            <p>6.An incorrect letter turns gray</p>
            <p>7.Letter can be used more than once</p>
        </div>
        <div class="footer">
          <button id="closebtn" >OK</button>
        </div>
    </div>
</div>
